﻿@model BLZ_Validierung.Models.Bankdaten

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    @using (Html.BeginForm())
    {
        <div>
            @Html.LabelFor(model => model.KontoNr)
            @Html.EditorFor(model => model.KontoNr)
            @Html.ValidationMessageFor(model => model.KontoNr)
        </div>
        <div>
            @Html.LabelFor(model => model.BLZ)
            @Html.EditorFor(model => model.BLZ)
            @Html.ValidationMessageFor(model => model.BLZ)
        </div>
        <input type="submit" />

    }


</div>