﻿@model Routing_Employees.Models.Employee

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NationalIdnumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NationalIdnumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoginId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoginId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrganizationLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaritalStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaritalStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HireDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalariedFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalariedFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VacationHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VacationHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SickLeaveHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SickLeaveHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rowguid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rowguid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessEntity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessEntity.FirstName)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BusinessEntityId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
