﻿@model IEnumerable<Routing_Employees.Models.Employee>
@{
    ViewData["Title"] = "GetGender";
}

<h1>GetGender</h1>

<table class="table">
    <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BusinessEntity.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessEntity.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NationalIdnumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoginId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrganizationLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaritalStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HireDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalariedFlag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VacationHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SickLeaveHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentFlag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rowguid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BusinessEntity.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BusinessEntity.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NationalIdnumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoginId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrganizationLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaritalStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HireDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SalariedFlag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VacationHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SickLeaveHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentFlag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rowguid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedDate)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.BusinessEntityId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.BusinessEntityId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.BusinessEntityId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>