﻿@model NorthwindClassLibrary.Customers
@{
    ViewData["Title"] = "GetCustomerById";
}

<h1>GetCustomerById</h1>

<table>
    
    <tr>
        <td>Name</td>
        <td>Customer ID</td>
        <td>Country</td>
    </tr>
    <tr>
        <td>@Model.CompanyName</td>
        <td>@Model.CustomerId</td>
        <td>@Model.Country</td>
    </tr>
    

</table>
