﻿@model IEnumerable<NorthwindClassLibrary.Customers>


    @{
        ViewData["Title"] = "GetCustomersByCountry";
    }

    <h1>GetCustomersByCountry</h1>

    <table>

        <tr>
            <td>Name</td>
            <td>Customer ID</td>
            <td>Country</td>
        </tr>

        @foreach (var item in Model)
        {


        <tr>
            <td>@item.CompanyName</td>
            <td>@item.CustomerId</td>
            <td>@item.Country</td>
        </tr>
        }


    </table>
