﻿@model IEnumerable<NorthwindClassLibrary.Orders>

@{
    ViewData["Title"] = "GetOrdersById";
}

<h1>GetOrdersById</h1>

<table>

    <tr>
        <td>Order ID</td>
        <td>Order Date</td>
        <td>Customer ID</td>
    </tr>

    @foreach (var item in Model)
    {


        <tr>
            <td>@item.OrderId</td>
            <td>@item.OrderDate.Value.ToShortDateString()</td>
            <td>@item.CustomerId</td>
        </tr>
    }


</table>