﻿@model NorthwindClassLibrary.OrderDetails
@{
    ViewData["Title"] = "GetPrice";
}

<h1>GetPrice</h1>

<table>
    <tr>
        <th>Order ID</th>
        <th>Full Price</th>

    </tr>
    <tr>
        <td>
            @Model.OrderId
        </td>
        <td>
            @(((decimal)ViewBag.Price).ToString("C2"))
        </td>
    </tr>


</table>