﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<br />

<fieldset>
    <legend>Hol dir einen Customer</legend>
    <form asp-controller="Home" asp-action="GetCustomerById">
        Customer ID: <input type="text" name="customerid" />
        <input type="submit" value="Get Customer" />

    </form>
</fieldset>

<br />
<fieldset>
    <legend>Hol dir Customer aus Land</legend>
    <form asp-controller="Home" asp-action="GetCustomersByCountry">
        Country: <input type="text" name="country" />
        <input type="submit" value="Get Customers" />
    </form>

</fieldset>
<br />

<fieldset>
    <legend>Hol dir alle Order für einen Customer</legend>
    <form asp-controller="Home" asp-action="GetOrdersById">
        Customer ID: <input type="text" name="customerid" />
        <input type="submit" value="Get Orders" />
    </form>

</fieldset>
<br />
<fieldset>
    <legend>Hol dir eine Order mit Gesamtpreis</legend>
    <form asp-controller="Home" asp-action="GetPrice">
        Order ID: <input type="text" name="orderid" />
        <input type="submit" value="Get Price for Order" />
    </form>

</fieldset>
