﻿@model  Teilnehmer
@{
    ViewData["Title"] = "Teilnehmer";
}


    <tr>
        
        <td>@Html.HiddenFor(m => m.Id)@Model.Vorname</td>
        <td>@Model.Nachname</td>
        <td>@Html.CheckBoxFor(m => m.Anwesend)</td>
    </tr>
