﻿@model GeoFigure

@if (Model != null)
{
    <div class="row">
        <span class="col-md-2">Fläche:</span><span class="col-md-10"> @Model.Area</span><br />
        <span class="col-md-2">Umfang:</span><span class="col-md-10"> @Model.Circumference</span><br />
        @Html.DisplayFor(m => m.Circumference)
    </div>
}