﻿@model CodeFirstKontakte.Models.Contact

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contact</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nachname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nachname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vorname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vorname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EMail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EMail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ContactID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
