﻿@model IEnumerable<Orders>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<form id="orderidform" asp-action="GetOrderDetailsPartial" asp-controller="Home" data-ajax="true" data-ajax-update="#orderdetailsidresults">
    <select name="orderID" size="5" id="orderidselect">
        @foreach (var item in Model)
        {
            <option value="@item.OrderId" onclick="clickOrderID()">@item.OrderId</option>
        }

    </select>

</form>

