﻿@model Orders
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<table id="orderdetailstable" class="table-bordered table-striped table-hover">
    <tr>
        <th>BestellNr</th>
        <th>@Model.OrderId</th>
    </tr>
    <tr>
        <td>Bestelldatum</td>
        <td>@Model.OrderDate</td>
    <tr>
        <td>Ausgeliefert</td>
        <td>@Model.ShippedDate</td>
    </tr>
    <tr>
        <td>Gesamtwert</td>
        <td>@ViewBag.FullPrice</td>
    </tr>
    <tr>
        <td>Bearbeitet durch</td>
        <td>@Model.Employee.FirstName @Model.Employee.LastName</td>
    </tr>
    

</table>