﻿@model IEnumerable<Customers>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<form id="orderform" asp-action="GetOrdersPartial" asp-controller="Home" data-ajax="true" data-ajax-update="#orderidresults">

    <table id="customertable" class="table-bordered table-striped table-hover">
        <tr>
            <th>Firmenname</th>
            <th>Stadt</th>
            <th>Kontakt</th>
            <th>Telefonnummer</th>
            <th>Details</th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CompanyName</td>
                <td>@item.City</td>
                <td>@item.ContactName</td>
                <td>@item.Phone</td>
                <td>
                    <input type="radio" name="customerID" value="@item.CustomerId" onclick="clickButton()" />
                </td>
            </tr>
        }
    </table>

</form>

<br />
<p id="bestellnummern">Bestellnummern: </p>

<div id="orderidresults" class="inline"></div>


<div id="orderdetailsidresults" class="inline"></div>