﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form asp-action="GetCustomersPartial" asp-controller="Home" data-ajax="true" data-ajax-update="#customerresults">

    <select asp-items="@ViewData["countryselect"] as SelectList" name="countryname"></select>

    <input type="submit" />

</form>
<br />

<div id="customerresults"></div>