﻿@model IEnumerable<EF_Kontakte.Models.Contact>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<h2>Seite @ViewBag.pageNr</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EMail)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ContactID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ContactID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ContactID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="text-center">
    <strong>
        @Html.ActionLink("|<", "Index", new { pageNr = 1 })
        &nbsp;
        @if ((int)ViewBag.pageNr > 1)
        {
            @Html.ActionLink("<", "Index", new { pageNr = ViewBag.pageNr - 1 })
        }

        @if ((int)ViewBag.pageNr < (int)ViewBag.maxPageNr)
        {
            @Html.ActionLink(">", "Index", new { pageNr = ViewBag.pageNr + 1 })
        }
        &nbsp;
        @Html.ActionLink(">|", "Index", new { pageNr = ViewBag.maxPageNr })
    </strong>
    &nbsp;
    &nbsp;
    Seite @ViewBag.pageNr von @ViewBag.maxPageNr

</div>
