﻿@model IEnumerable<FileClass>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form asp-controller="Home" asp-action="Index" method="post" enctype="multipart/form-data">

    <input type="file" name="inputFile" />
    <input type="submit" />


</form>
<br />
<br />
<div>
    @if (Model != null)
    {
        <table>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.DocName, "FileDownload", new { id = item.ID, filename = item.DocName, filetype = item.ContentType })
                    </td>
                    <td>
                        @item.ContentType
                    </td>
                    <td>
                        @item.InsertionDate.ToShortDateString()
                    </td>

                </tr>
            }


        </table>


    }


</div>