﻿@model Orders

@if (Model != null)
{
    <table class="table-striped">
        <tr>
            <th>Bestellnummer:</th>
            <th>@Model.OrderId</th>
        </tr>
        <tr>
            <td>Bestelldatum:</td>
            <td>@Model.OrderDate.Value.ToShortDateString()</td>
        </tr>
        <tr>
            <td>Ausgeliefert:</td>
            <td>@Model.ShippedDate.Value.ToShortDateString()</td>
        </tr>
        <tr>
            <td>Gesamtwert:</td>
            <td>@Model.OrderValue.ToString("C")</td>
        </tr>
        <tr>
            <td>Bearbeitet durch:&nbsp;</td>
            <td>@Model.Employee.FirstName @Model.Employee.LastName </td>
        </tr>
    </table>
}
else
{
    <p>Keine Details zur Bestellung gefunden.</p>
}