﻿@model IEnumerable<Customers>

@if (Model != null)
{
    <table class="table-hover table-bordered">
        <tr>
            <th>Firma</th>
            <th>Stadt</th>
            <th>Kontakt</th>
            <th>Telefon</th>
            <th>Details</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.CompanyName
                </td>
                <td>
                    @item.City
                </td>
                <td>
                    @item.ContactName
                </td>
                <td>
                    @item.Phone
                </td>
                <td>
                    @*<input type="radio" name="details" value="@item.CustomerId" />*@
                    @Html.RadioButton("details", item.CustomerId)
                </td>
            </tr>
        }
    </table>
    //Code für das Anklicken der RadionButton einbinden
    <script src="~/js/JavaScriptCode.js"></script>
}