﻿@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="ZeigeKundeProLand" data-ajax="true" data-ajax-update="#kundenListe">
    @* DropDownList aus den Daten in ViewData *@
    @Html.DropDownList("Laender")

    @* Buttonclick lädt die Partielle View "ZeigeKundeProLand" und zeigt sie im div "kundenListe" (div in der Layoutseite) an*@
    <input type="submit" value="Anzeigen" />
</form>