﻿
@{
    ViewData["Title"] = "UploadFile";
}

<h1>UploadFile</h1>

<form asp-controller="Course" asp-action="UploadFile" enctype="multipart/form-data">

    <input type="file" name="inputFile" />
    <input type="submit" />

</form>