﻿@model IEnumerable<AdventureWorks_Personal.Models.EmployeeViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HireDate)
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.VacationHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SickLeaveHours)
            </th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MiddleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>               
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HireDate)
                </td>               
                <td>
                    @Html.DisplayFor(modelItem => item.VacationHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SickLeaveHours)
                </td>                
            </tr>
        }
    </tbody>
</table>
