﻿@model IEnumerable<IT_Umfrage.Models.Survey>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SurveyTitle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SurveyTitle)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SurveyID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SurveyID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SurveyID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>