﻿@model Identity_ITSurvey.Models.SurveyQuestion

@{
    ViewData["Title"] = "Neue Umfrage anlegen";
}

<h1>Create</h1>

<h4>SurveyQuestion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QuestionText" class="control-label"></label>
                <input asp-for="QuestionText" class="form-control" />
                <span asp-validation-for="QuestionText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h3>Bitte die Antwortoptionen angeben:</h3>
                @for (var i = 0; i < Model.AnswerOptions.Count; i++)
                {
                    <div>
                        Antwortoption @String.Format("{0}", i + 1)
                    </div>
                    <div>
                        @Html.TextBox(
                        "AnswerOptions[" + i + "].OptionText",
                        string.Empty,
                         new { @required = "required", @class = "form-control" })<br />
                    </div>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

