﻿@model Identity_ITSurvey.Models.SurveyQuestion

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SurveyQuestion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="QuestionText" class="control-label"></label>
                <input asp-for="QuestionText" class="form-control" />
                <span asp-validation-for="QuestionText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Bitte die Antwortoptionen angeben:</label>
                @for (var i = 0; i < Model.AnswerOptions.Count; i++)
                {
                    <div class="editor-label">
                        Antwortoption @String.Format("{0}", i + 1)
                    </div>
                    <div class="editor-field">
                        @Html.Hidden("AnswerOptions[" + i + "].ID", Model.AnswerOptions.ElementAt(i).ID)
                        @Html.Hidden("AnswerOptions[" + i + "].QuestionID", Model.AnswerOptions.ElementAt(i).QuestionID)
                        @Html.TextBox("AnswerOptions[" + i + "].OptionText", Model.AnswerOptions.ElementAt(i).OptionText, new { @required = "required" })<br />
                    </div>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

