﻿@model IEnumerable<Identity_ITSurvey.Models.SurveyQuestion>

@{
    ViewData["Title"] = "Index";
}

<h1>Admin</h1>

<p>
    <a asp-action="Create">Create New</a>
    <br />
    <a asp-action="ShowUsersAndRoles">Benutzer anzeigen</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuestionText)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionText)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
