﻿@using Microsoft.AspNetCore.Identity
@model UserManager<IdentityUser>
@{
    ViewData["Title"] = "ShowUsersAndRoles";
}

<h2>Liste aller Anwender</h2>

<fieldset>
    <legend>
        Anwender
    </legend>
    <ul>
        @foreach (IdentityUser user in Model.Users)
        {
            <li>
                Benutzer: @user.UserName
                <br />
                Rollen:
                <ul>
                    @foreach (var role in Model.GetRolesAsync(user).Result)
                    {
                        <li>@role</li>
                    }                    
                </ul>
            </li>
        }
    </ul>
</fieldset>