﻿@model Survey
@{
    ViewData["Title"] = "AttendSurvey";
}

<h1>@Model.SurveyTitle</h1>

<br />

<form asp-action="ShowSurveyAnswers">
    @foreach (var item in Model.Answers)
    {
        <input type="hidden" value="@Model.SurveyID" name="surveyid"/>
        <input type="radio" value="@item.AnswerID" name="answerid"/>
        <label for="answerid">@item.AnswerText</label>


    }

    <br />

    <input type="submit" value="Absenden"/>

</form>

<br />

<a asp-action="Index">Zurück zur Übersicht</a>