﻿@model IEnumerable<EF_CodeFirst_VererbungKurse.Models.Kurs>

@{
    ViewData["Title"] = "Index";
}

<h2>Übersicht aller Kurse</h2>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nachweis)
            </th>
            <th>
                Kursart
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nachweis)
                </td>
                <td>
                    @item.GetType().Name
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="@item.GetType().Name" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-controller="@item.GetType().Name" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
