﻿@model PaymentInfo
@{
    ViewData["Title"] = "Home Page";
}

<h2>Kontodaten</h2>
@using (Html.BeginForm())
{
    <div>
        @Html.EditorForModel()
        <input type="submit" />
        <br />
        <br />
    </div>
}
