﻿@model IT_Umfrage.Models.Survey

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Survey</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                @*<input type="hidden" asp-for="SurveyID" value="@Model.SurveyID"/>*@

                <label asp-for="SurveyTitle" class="control-label"></label>
                <input asp-for="SurveyTitle" class="form-control" />
                <span asp-validation-for="SurveyTitle" class="text-danger"></span>
            </div>

            <div class="form-group">

                <label for="answerInput">Antwortoption 1:</label>
                <input type="text" name="answerInput" />

                <label for="answerInput">Antwortoption 2:</label>
                <input type="text" name="answerInput" />

                <label for="answerInput">Antwortoption 3:</label>
                <input type="text" name="answerInput" />

                <label for="answerInput">Antwortoption 4:</label>
                <input type="text" name="answerInput" />


            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

            


        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
