﻿@model IT_Umfrage.Models.Survey

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Survey</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurveyTitle)
        </dd>
    </dl>
</div>
<div>
    <table>
    @foreach (var item in Model.Answers)
    {
        <tr>
            <td>
                @item.AnswerText

            </td>
        </tr>
    }
    </table>

</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.SurveyID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
