﻿@model IEnumerable<CodeFirstKontakte.Models.Contact>
@using PagedList.Mvc;
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nachname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vorname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nachname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vorname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EMail)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ContactID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ContactID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ContactID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<span>
    Seite:
   


    @Html.ActionLink("< ", "Index", new { page = ViewBag.pageNumber - 1 })
    @for (int i = 0; i < ViewBag.maxPageNumber; i++)
    {
        @Html.ActionLink($"{i + 1} ", "Index", new { page = i })
    }
    @Html.ActionLink(" >", "Index", new { page = ViewBag.pageNumber + 1 })

    
</span>