﻿@model IEnumerable<Survey>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@if (User.IsInRole("Admin"))
{
    <a asp-action="ManageSurveys" asp-controller="Admin">Umfragen verwalten</a> <a asp-action="ManageUser" asp-controller="Admin">User verwalten</a>

}
<br />
<div>
    <h2>Übersicht aktueller IT-Umfragen</h2>

</div>
<br />

@foreach (var item in Model)
{
    <div class="surveydiv">
        <strong>@item.SurveyTitle</strong>
        <br />
        <a asp-action="AttendSurvey" asp-route-id="@item.SurveyID">Teilnehmen</a> | <a asp-action="ShowSurveyAnswers" asp-route-id="@item.SurveyID">Bisherige Ergebnisse</a>
        <br />
    </div>
}



