﻿@model IT_Umfrage.Models.Survey

@{
    ViewData["Title"] = "ShowSurveyAnswers";
}

<h1>ShowSurveyAnswers</h1>

<div>
    <h4>Survey</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SurveyTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SurveyTitle)
        </dd>
    </dl>
</div>
<div>
    <table>
        @foreach (var item in Model.Answers)
        {
            <tr>
                <td>
                    @item.AnswerText

                </td>
                <td>
                    @item.Votes
                </td>
            </tr>
        }
    </table>

</div>
