﻿@model PasswortConfig
@{
    ViewData["Title"] = "Passwort Generator";
}

<div>
    <h2>Passwort Generator</h2>
    <table>
        @using (@Html.BeginForm())
        {
            <tr>
                <td>
                    @Html.LabelFor(m => m.Länge)
                </td>
                <td>
                    @Html.EditorFor(m => m.Länge)
                </td>               
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.AnzahlGrossbuchstaben)
                </td>
                <td>
                    @Html.EditorFor(m => m.AnzahlGrossbuchstaben)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.AnzahlZiffern)
                </td>
                <td>
                    @Html.EditorFor(m => m.AnzahlZiffern)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.AnzahlSonderzeichen)
                </td>
                <td>
                    @Html.EditorFor(m => m.AnzahlSonderzeichen)
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" />
                </td>
            </tr>
        }
    </table>

    <div>
        @*ViewBag
            Prüfen ob Daten in ViewBag vorliegen
        *@
        @if (ViewBag.Passwort != null)
        {
            <p>Einzelnes Passwort aus ViewBag: @ViewBag.Passwort</p>
        }

        @* ViewData
            Prüfen ob Daten in ViewData vorliegen
        *@
        @if (ViewData["Passwörter"] != null)
        {
            // Die Daten aus ViewData benötigen einen Typcast
            List<string> diePasswörter = ViewData["Passwörter"] as List<string>;

            <p>Passwort Liste aus ViewData:</p>
            <ul>
                @*Für jedes Passwort ein li erzeugen*@
                @foreach (var einPasswort in diePasswörter)
                {
                    <li>@einPasswort</li>
                }
            </ul>
        }

    </div>
    <div>
        <fieldset>
            <legend>Alternative Verwendung eines Helpers</legend>
            @Html.EditorForModel()
        </fieldset>
    </div>

</div>



