﻿@model Kontakt
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Kontakt</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Vorname" class="control-label"></label>
                <input asp-for="Vorname" class="form-control" />
                <span asp-validation-for="Vorname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nachname" class="control-label"></label>
                <input asp-for="Nachname" class="form-control" />
                <span asp-validation-for="Nachname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StrasseHausnummer" class="control-label"></label>
                <input asp-for="StrasseHausnummer" class="form-control" />
                <span asp-validation-for="StrasseHausnummer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plz" class="control-label"></label>
                <input asp-for="Plz" class="form-control" />
                <span asp-validation-for="Plz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefon" class="control-label"></label>
                <input asp-for="Telefon" class="form-control" />
                <span asp-validation-for="Telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
