﻿@model Kontakt
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Contact</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vorname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vorname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nachname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nachname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Geschlecht)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Geschlecht)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StrasseHausnummer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StrasseHausnummer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plz)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Plz)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ort)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>