﻿@model IEnumerable<Stadt>

<table class="table-bordered">
    <tr>
        <th>
            Stadt
        </th>
        <th>
            Ziele im System
        </th>
        <th>
            Bewertung
        </th>
    </tr>
    @foreach (var eineStadt in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(eineStadt.Name, "Details", new { Id = eineStadt.StadtId })
            </td>
            <td>
                @Html.DisplayFor(m => eineStadt.AnzahlZiele)
            </td>
            <td>
                @Html.DisplayFor(m => eineStadt.Bewertung)
            </td>
        </tr>
    }
</table>