﻿@model Zustandsverwaltung_Städtereiesen.Models.Stadt

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Stadt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bundesland)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bundesland.Name)
        </dd>
        <dt>
            Attraktionen
        </dt>
        <dd>
            @foreach (var attraktion in Model.Attraktion)
            {
                <a asp-controller="Attraktion" asp-action="Details" asp-route-id="@attraktion.AttraktionId">@attraktion.Name</a>
                <br />
            }

        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StadtId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
