﻿@model IEnumerable<Zustandsverwaltung_Städtereiesen.Models.Stadt>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bundesland)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnzahlZiele)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bewertung)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bundesland.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnzahlZiele)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bewertung)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StadtId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StadtId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StadtId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
