﻿
@{
    ViewData["Title"] = "NachBundesland";
}

<h2>NachBundesland</h2>

<form asp-action="StädteNachBundesland" data-ajax="true" data-ajax-update="#städteListe">
    @Html.DropDownList("bundesland")
    <input type="submit" value="Anzeigen" />
</form>

@* Div für Ergebnis das Ajax Request *@
<div id="städteListe"></div>