﻿@model IEnumerable<string>
@{
    ViewData["Title"] = "Suche";
}

@*Suchvorschläge mit allen Städten im System*@
<datalist id="städte">
    @foreach (string stadt in ((List<string>)ViewData["Städtenamen"]))
    {
        <option value="@stadt"></option>
    }
</datalist>


<h2>Suche</h2>

@if (Model != null)
{
    <h4>Die letzten Suchbegriffe:</h4>
    foreach (var item in Model)
    {
        @* Jeweils ein Link pro Suchstring *@
        <a asp-controller="Stadt" asp-action="ZeigeSuchErgebnisse" asp-route-suchString="@item" data-ajax-update="#suchErgebnisse" data-ajax="true">@item</a>
        <br />
    }
    <br />
}
<form asp-controller="Stadt" asp-action="ZeigeSuchErgebnisse" data-ajax="true" data-ajax-update="#suchErgebnisse">

    @*@Html.Editor("suchstring")*@
    <input list="städte" name="suchstring" />

    <input type="submit" value="Suchen" />
</form>

@* Div für Ergebnis das Ajax Request *@
<div id="suchErgebnisse"></div>