﻿@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<fieldset>
    <legend>@Localizer["FieldsetSingleLabel"]</legend>
    @using (Html.BeginForm("SingleCheck", "Home"))
    {

        <label for="serial">@Localizer["SingleSerialLabel"]</label>
        <input type="text" name="serial" />

        <input type="submit" value="@Localizer["SingleSerialButton"]" />


    }
</fieldset>
<div>@ViewData["Message"]</div>

<fieldset>
    <legend>@Localizer["FieldsetMultiLabel"]</legend>
    @using (Html.BeginForm("MultiCheck", "Home"))
    {

        <label for="multipleserials">@Localizer["MultiSerialLabel"]</label>
        @Html.TextArea("multipleserials");

        <input type="submit" value="@Localizer["SingleSerialButton"]" />


    }
</fieldset>
@if (ViewData["MessageMulti"] != null)
{


    <div>
        @foreach (var item in ViewData["MessageMulti"] as List<string>)
        {
            <p>@item</p>
        }
    </div>
}

    <fieldset>
        <legend>@Localizer["FieldsetFileLabel"]</legend>
        <form asp-controller="Home" asp-action="FileCheck" method="post" enctype="multipart/form-data">

            <input type="file" name="inputFile" value="@Localizer["FileSerialButton"]" />
            <input type="submit" value="@Localizer["SingleSerialButton"]"/>


        </form>
        
    </fieldset>
@if (ViewData["MessageFile"] != null)
{


    <div>
        @foreach (var item in ViewData["MessageFile"] as List<string>)
        {
            <p>@item</p>
        }
    </div>
}