﻿@model Identity_FilmeBewerten.Models.Film

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Film</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Erscheinungsdatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Erscheinungsdatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Regisseur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Regisseur)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FilmID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
