﻿@model IEnumerable<Identity_FilmeBewerten.Models.Film>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a> | 
    <a asp-action="Search">Search Film</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Erscheinungsdatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Regisseur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bewertungen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @item.Erscheinungsdatum.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Regisseur)
            </td>
            
            <td>@item.Bewertungen.Average(v => v.Value).ToString("0.#")</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FilmID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FilmID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FilmID">Delete</a> |
                <a asp-action="Rate" asp-route-id="@item.FilmID">Rate</a>
            </td>
        </tr>
}
    </tbody>
</table>
