﻿@model Film
@{
    ViewData["Title"] = "Rate";
}

<h1>Rate</h1>

<form asp-action="Rate" asp-controller="Films" method="post">

    <input type="hidden" asp-for="FilmID" />

    <label for="title">Filmtitel</label>
    <input type="text" name="title" value="@Model.Title" disabled="disabled"/>
    
    <label for="rating">Bewertung</label>
    <input type="number" name="rating" />


    <input type="submit" value="BEWERTEN" />
</form>