﻿
@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

<form asp-action="Search" asp-controller="Films" data-ajax="true" data-ajax-update="#results">

    <label for="filminput">Name eingeben:</label>
    <input type="text" name="filminput"/>

    <input type="submit" value="SUCHEN"/>
</form>

<div id="results">



</div>