﻿@model IEnumerable<Kontakt>

@{
    ViewData["Title"] = "Alle Kontakte";
}

<h1>Alle Kontakte</h1>

@if (Model != null)
{
    <table class="table-bordered table-striped">
        <tr>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Telefon</th>
            <th>E-Mail</th>
        </tr>
        @foreach (var kontakt in Model)
        {
            <tr>
                <td>@kontakt.Vorname</td>
                <td>@kontakt.Nachname</td>
                <td>@kontakt.Telefon</td>
                <td>@kontakt.EMail</td>
            </tr>
        }
    </table>
}


