﻿@model Kontakt
@{
    ViewData["Title"] = "Kontakte";
}

@using (Html.BeginForm())
{

    @Html.EditorForModel()

    <input type="submit" value="Kontakt speichern" />
}
@if (Model != null)
{
    <p>Neuer Kontakt wurde angelegt</p>
}


<h3>@ViewBag.HashCode</h3>

