﻿@model IEnumerable<Day>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table-bordered table-striped">

    <tr>
        <th>Spieldatum</th>
        <th>Heim</th>
        <th>Gast</th>
        <th>Ergebnis</th>
    </tr>

    @foreach (var item in Model)
    {
        foreach (var match in item.allMatches)
        {
            <tr>
                <td>@match.MatchDateTime</td>
                <td>@match.Team1.TeamName <img src="@match.Team1.TeamIconUrl" width="20" height="20" /> </td>
                <td>@match.Team2.TeamName <img src="@match.Team2.TeamIconUrl" width="20" height="20" /> </td>
                <td>@match.MatchResults[0].PointsTeam1 : @match.MatchResults[0].PointsTeam2</td>
            </tr>
        }


    }


</table>