﻿@model List<CheckboxHtmlHelper.Models.Film>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (ViewBag.FilmIDs != null)
{
    <div>

        <p>
            Sie haben die folgenden IDs selected: @string.Join(", ", ViewBag.FilmIDs)
            
            
        </p>
    </div>
}

    @using (Html.BeginForm())
    {
        <div>
            @Html.CheckBoxList("movies", new SelectList(Model, "Id", "Titel"), (string[])ViewBag.FilmIDs)
            <br />
            <input type="submit" />
        </div>
    }
