﻿@model BankInfo

<tr>
    <td>
        @Html.DisplayFor(model => model.Bezeichnung)
    </td>
    <td>
        @Html.DisplayFor(model => model.BLZ)
    </td>
    <td>
        @Html.DisplayFor(model => model.BIC)
    </td>
    <td>
        @Html.DisplayFor(model => model.PLZ)
    </td>
    <td>
        @Html.DisplayFor(model => model.Ort)
    </td>
</tr>