﻿@model IEnumerable<BankInfo>
@{
    ViewData["Title"] = "Alle";
}

<h2>Alle Bankleitzahlen</h2>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.Bezeichnung)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.BLZ)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.BIC)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.PLZ)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Ort)
        </th>
    </tr>
    @foreach (BankInfo info in Model)
    {
        @Html.Partial("_BankInfo", info)
    }
</table>