﻿@model BankInfo
@{
    ViewData["Title"] = "BlzSuche";
}

<h2>Bank-Information</h2>
<div>
    @using (Html.BeginForm())
    {
        <input type="text" name="blz" placeholder="BLZ" />
        <input type="submit" />
    }
</div>
<br />
@if (Model != null)
{
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.Bezeichnung)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.BLZ)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.BIC)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.PLZ)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Ort)
            </th>
        </tr>
        @Html.Partial("_BankInfo", Model)
    </table>
}