﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@Html.ActionLink("QueryDisplay ohne Daten", "QueryDisplay", "Home")

<br />
@Html.ActionLink("QueryDisplay mit Daten Action", "QueryDisplay", "Home", new { ID = 1, Titel = "Vom Winde Verweht", Jahr = "1939" })

<br/>

<a href="Home/QueryDisplay?ID=1&Titel=Predator&Jahr=1987">QueryDisplay mit Daten A HREF</a>

