﻿@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "QueryDisplay";
}

<h1>QueryDisplay</h1>

@if(Context.Request.Query.Count == 0)
{
    <p>KEINE DATEN</p>


}

<table>
    @foreach (var item in Context.Request.Query)
    {
        <tr>
            <td>@item.Key</td>
            <td>@item.Value</td>
        </tr>
    }


</table>