﻿@model Zustandsverwaltung_Städtereiesen.Models.Attraktion

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Attraktion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anschrift" class="control-label"></label>
                <input asp-for="Anschrift" class="form-control" />
                <span asp-validation-for="Anschrift" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bewertung" class="control-label"></label>
                <input asp-for="Bewertung" class="form-control" />
                <span asp-validation-for="Bewertung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StadtId" class="control-label"></label>
                <select asp-for="StadtId" class ="form-control" asp-items="ViewBag.StadtId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
