﻿@model Zustandsverwaltung_Städtereiesen.Models.Attraktion

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Attraktion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Anschrift)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Anschrift)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bewertung)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bewertung)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stadt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stadt.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AttraktionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
