﻿@model IEnumerable<Zustandsverwaltung_Städtereiesen.Models.Attraktion>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Anschrift)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bewertung)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Url)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Stadt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Anschrift)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bewertung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stadt.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AttraktionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AttraktionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AttraktionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
