﻿@model Programmierer



@{
    ViewData["Title"] = "Home Page";
}

<table>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <tr>
            <td>
                @Html.LabelFor(m => m.Vorname)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Vorname)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Nachname)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Nachname)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Email)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Email)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Geschlecht)
            </td>
            <td>
                männlich
                @Html.RadioButtonFor(m => m.Geschlecht,"männlich")
                weiblich
                @Html.RadioButtonFor(m => m.Geschlecht,"weiblich")
            </td>
        </tr>
        <tr>
            <td>
                @Html.DropDownList("AufgabenListe")
            </td>


        </tr>

        <tr>
            <td>
                <input type="submit" />
            </td>

        </tr>
    }
</table>

<div id="ausgabediv">@ViewBag.PrgVorname , @ViewBag.PrgNachname, @ViewBag.Geschlecht, @ViewBag.Aufgabe</div>