﻿@model IEnumerable<WetterInfo>
@{
    ViewData["Title"] = "Wetterdaten";
}

<table class="table-bordered table-striped">
    <tr>
        <th>Region</th>
        <th>Datum</th>
        <th>Heruntergeladen</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="line1">
            <td>@item.Region</td>
            <td>@item.WetterDatum</td>
            <td>@item.DownloadDatum</td>
        </tr>
        <tr class="line2">
            <td colspan="3">@item.Beschreibung</td>
        </tr>
    }
</table>

<br />

<a asp-action="UpdateWeatherData" class="btn btn-info" role="button">Update</a>