﻿@model List<Book>

@if (Model != null && Model.Count() > 0)
{
    <table class="table-striped table-bordered table-hover">
        <tr>
            <th>ISBN</th>
            <th>Titel</th>
            <th>Jahr</th>
            <th>Kategorie</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ISBN</td>
                <td>@item.Title</td>
                <td>@item.Year.ToShortDateString()</td>
                <td>@item.CategoryName</td>
            </tr>
        }
    </table>
}