﻿
@{
    ViewData["Title"] = "BooksByCategory";
}

<h2>BooksByCategory</h2>


<form asp-controller="Home" asp-action="ShowCategoryResult" data-ajax="true" data-ajax-update="#bookList">

    @Html.DropDownList("Categories")

    <input type="submit" value="Anzeigen" />
</form>

@* Div für Ergebnis vom Ajax Request *@
<div id="bookList"></div>