﻿
@{
    ViewData["Title"] = "FindBooks";
}

<h2>FindBooks</h2>


<form asp-controller="Home" asp-action="ShowSearchResults" data-ajax="true" data-ajax-update="#bookList">
    @Html.TextBox("searchString")
    <input type="submit" value="Suchen" />
</form>

@* Div für Ergebnis das Ajax Request *@
<div id="bookList"></div>