﻿@{
    ViewData["Title"] = "SignalR Chat";
}

<h2>Simple SignalR-Chat</h2>

<h4>Benutzername: <span id="username"></span></h4>

<div class="container">
    <label for="message">Text der Nachricht: </label>
    <br />
    <input type="text" id="message" />
    
    <input type="button" id="sendmessage" value="Senden" />
    <input type="hidden" id="displayname" />
    <br />
    <div id="chatArea">
        <textarea id="discussion" rows="8" cols="40"></textarea>
        <select id="teilnehmer" size="9">
            <option disabled="disabled">Benutzer auswählen</option>
        </select>
        <input type="button" value="Auswahl aufheben" id="deselect" class="btn btn-primary" />
    </div>
</div>

<script src="~/lib/signalr/signalr.js"></script>
