﻿body {
}

#myCanvas {
    border: 1px solid black;
}

#aktuell {
    color: #0d53fa;
}

#lab2 {
    width:800px;
}

td {
    width:350px;
}

#füllfaktor, #text {
    width:250px;
}

select {
    width:250px;
}