﻿@model IEnumerable<Film>

@{
    ViewData["Title"] = "Eigener HTML Helper";
}

@if (ViewBag.SelectedIDs != null)
{
    <p>Sie haben die folgenden IDs selektiert: @string.Join(", ", ViewBag.SelectedIDs)</p>
}

@if (ViewBag.Nachricht != null)
{
    <h3>@ViewBag.Nachricht</h3>
}
else
{
    using (Html.BeginForm())
    {
        <div>
            @*Erzeugt:
                <input type='checkbox' name='movies' id='cb_movies_1' value='1' /> Shawshank Redemption, The<br />
                    ...
            *@
            @Html.CheckBoxList("movies",
            // Elemente, Property von Film für value , Property von Film für den Text
                            new SelectList(Model, "Id", "Titel"),
                            (String[])ViewBag.SelectedIDs)

            <br />
            <input type="submit" />
        </div>
    }
}