﻿@model List<Teilnehmer>
@{
    ViewData["Title"] = "Anwesenheit";
}

<h1>Anwesenheit</h1>

@using (Html.BeginForm("Anwesenheit", "Home"))
{

    <table class="table-bordered table-hover table-striped">
        <tr>

            <th>Vorname</th>
            <th>Nachname</th>
            <th>Anwesend</th>
        </tr>

        @Html.EditorForModel()
    </table>
    <input type="submit" />
}