﻿@model  List<Teilnehmer>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<table class="table-bordered table-hover table-striped">
    <tr>
        
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Fehltage</th>
    </tr>
    
    @Html.DisplayForModel()


</table>
