﻿@using Microsoft.AspNetCore.Mvc.Localization

@{
    ViewData["Title"] = "Home Page";
}

@inject IViewLocalizer Localizer

<fieldset>
    <legend>@Localizer["LegendTextSingle"]</legend>

    @using (Html.BeginForm("Single", "Home"))
    {
        <label>@Localizer["LabelTextSingle"]</label>

        @Html.TextBox("serialnumber", null, new { required = "required" });

        <input type="submit" value=@Localizer["ButtonTextCheck"]>
    }

    <span>@ViewBag.Message</span>

</fieldset>
<hr />
<fieldset>
    <legend>@Localizer["LegendTextMultiple"]</legend>

    @using (Html.BeginForm("Multiple", "Home"))
    {
        <label>@Localizer["LabelTextMultiple"]</label>

        @Html.TextArea("serialnumbers", new { rows = "8", required = "required" })

        <input type="submit" value=@Localizer["ButtonTextCheck"]>

        if (ViewData["checkedSerials"] != null)
        {
            @Html.TextArea("checkedSerialnumbers", ViewData["checkedSerials"].ToString(), new { rows = "8", cols = "60" })
        }

    }
</fieldset>
<hr />
<fieldset>
    <legend>@Localizer["LegendTextFile"]</legend>

    @using (Html.BeginForm("FileCheck", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" value=@Localizer["ButtonTextOpen"] name="file" size="60" />
        <br />

        <input type="submit" value=@Localizer["ButtonTextCheck"]>
        <br />

        if (ViewData["checkedSerialsFromFile"] != null)
        {
            <label>@Localizer["LabelTextMultiple"]</label>
            <br />

            @Html.TextArea("checkedSerialnumbers", ViewData["checkedSerialsFromFile"].ToString(), new { rows = "8", cols = "60" })
        }
    }
    <span>@ViewBag.MessageFile</span>
</fieldset>