﻿@model IEnumerable<Identity_FilmeBewerten.Models.Film>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@*Link nur anzeigen, wenn der Benutzer angemeldet ist*@
@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th>
                Wertung:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Director)
                </td>
                <td>
                    @if (item.Votes.Count > 0)
                    {
                        @(item.Votes.Average(v => v.Value).ToString("0.##"))
                    }
                </td>
                <td>
                    @*Links nur anzeigen, wenn der Benutzer angemeldet ist*@
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> <span>|</span>
                        <a asp-action="Vote" asp-route-id="@item.ID"> Bewerten </a> <span>|</span>
                        <a asp-action="Delete" asp-route-id="@item.ID"> Delete </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
