﻿@model IEnumerable<Bewertung>
@{
    ViewData["Title"] = "ShowTopVoted";
}

<h2>ShowTopVoted</h2>

<table class="table">
<tr>
    <th>
        @Html.DisplayNameFor(model => model.FilmTitel)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Durchschnittspunkte)
    </th>
</tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FilmTitel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Durchschnittspunkte)
        </td>
    </tr>
}

</table>