﻿@model Film
@{
    ViewData["Title"] = "Vote";
}

<h2>Vote</h2>

<div>
<h4>FilmModel</h4>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Title)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Title)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Year)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Year)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Director)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Director)
    </dd>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.ID)
        <dt>
            Bewertung:
        </dt>

        <dd>
            <input type="range" min="1" max="10" step="1" name="vote" value="5" />
            <br />
            <input type="submit" value="Bewertung abgeben" />
        </dd>
    }
</dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
