﻿@model  IEnumerable<Book>

@if (Model != null)
{
    <table>
        <tr>
            <td>ISBN</td>
            <td>Titel</td>
            <td>Jahr</td>
            <td>Kategorie</td>

        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.ISBN</td>
            <td>@item.Title</td>
            <td>@item.Year</td>
            <td>@item.CategoryName</td>
        </tr>
        }

    </table>
}