﻿@{
    ViewData["Title"] = "SearchBooksByCategory";
}

<h1>SearchBooksByCategory</h1>
<form asp-controller="Home" asp-action="ShowSearchBooksByCategoryResults" data-ajax="true" data-ajax-update="#results">


    @Html.DropDownList("Categories")

    <input type="submit" value="DRÜCK!!!" />
</form>

<div id="results"></div>