﻿
@{
    ViewData["Title"] = "SearchBooks";
}

<h1>SearchBooks</h1>
<form asp-controller="Home" asp-action="ShowSearchBooksResults" data-ajax="true" data-ajax-update="#results">

    @Html.TextBox("bookSearchString")

    <input type="submit" value="DRÜCK!!">

</form>


<div id="results"></div>