﻿@model Programmierer
@{
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm())
{    
    @Html.HiddenFor(m => m.Id)
    <table>
        <tr>
            <td>
                @Html.LabelFor(m => m.Vorname)
            </td>
            <td>
                @Html.EditorFor(m => m.Vorname)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Nachname)
            </td>
            <td>
                @Html.EditorFor(m => m.Nachname)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.EMail)
            </td>
            <td>
                @Html.EditorFor(m => m.EMail)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Geschlecht)
            </td>
            <td>
                @Html.RadioButton("Geschlecht", "Männlich")
                <span>Männlich</span>
                @Html.RadioButton("Geschlecht", "Weiblich")
                <span>Weiblich</span>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Aufgabe)
            </td>
            <td>
                @Html.DropDownList("Aufgabe")
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Projekte)
            </td>
            <td>
                @Html.DropDownList("Projekte", null, new { multiple = "multiple" })
                @* ALTERNATIVE *@
                @Html.ListBox("Projekte")
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Speichern" />
            </td>
        </tr>
    </table>
}