﻿@model List<RegionData>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<br />

@Html.ActionLink("Update Weather", "UpdateWeather", "Home")

<br />
<table id="regiontable">
    <tr>
        <th>Region</th>
        <th>Datum</th>
        <th>Heruntergeladen</th>
    </tr>
    


    @foreach (var item in Model)
    {

        <tr class="regionname">
            <td>@item.RegionName</td>
            <td>@item.WeatherDate</td>
            <td>@item.DownloadDate</td>
        </tr>
        <tr class="regioncontent">
            <td colspan="3">
                <div>@item.FullContent</div>
            </td>
        </tr>
         
    }


</table>


