﻿@model IEnumerable<Match>
@{
    ViewData["Title"] = "Spielplan";
}

<table class="table table-bordered">
    <tr>
        <th>Datum:</th>
        <th>Team1:</th>
        <th>Team2:</th>
    </tr>
    @foreach (var match in Model)
    {
        <tr>
            <td>@match.MatchDateTime.ToString("f")</td>
            <td>
                @match.Team1.TeamName
                <img height="32" width="32" src="@Url.Action("GetImage", "Home", new { id = match.Team1.TeamId })" />
            </td>
            <td>
                @match.Team2.TeamName
                <img height="32" width="32" src="@Url.Action("GetImage", "Home", new { id = match.Team2.TeamId })" />
            </td>
        </tr>
    }
</table>
