﻿@model IEnumerable<Country>

@if (Model != null && Model.Count() > 0)
{

    <h4>Länder:</h4>
    
    <cache expires-after="@TimeSpan.FromSeconds(600)" vary-by="@ViewBag.Continent">
        <p>@Model.GetHashCode() | @DateTime.Now.ToLongTimeString()</p>
        <table class="table-bordered table-striped">
            <tr>
                <th>@Html.DisplayNameFor(m => m.Name)</th>
                <th>@Html.DisplayNameFor(m => m.Capital)</th>
                <th>@Html.DisplayNameFor(m => m.Population)</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Capital)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Population)
                    </td>
                </tr>
            }
        </table>

    </cache>
}