﻿@{
    ViewData["Title"] = "Mondial";
}
<h2>Mondial-Info</h2>
<form asp-controller="Home" asp-action="ShowContinentsResult" data-ajax="true" data-ajax-update="#countries">

    @Html.DropDownList("continent")
    <input type="submit" value="Länder Anzeigen" />

</form>


@* Div für Ergebnis das Ajax Request *@
<div id="countries"></div>
