﻿@model MigrationsBooks.Models.Publisher

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Publisher</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => Model.Books)
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.Books)
            {
                <div>@item.Title</div>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PublisherID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
