﻿@model  IEnumerable<Stadt>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<table>
    <tr>
        <th>Stadt</th>
        <th>Bundesland ID</th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td><a asp-action="GetAttractions" asp-controller="Home" asp-route-stadtid="@item.StadtId">@item.Name</a></td>
        <td>@item.Name</td>
        <td>@item.BundeslandId</td>
    </tr>
    }
</table>