﻿@model IEnumerable<CityRatingModel>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@



<table>
    @foreach (var item in Model)
    {
        <tr>
            <td><a asp-action="GetAttractions" asp-controller="Home" asp-route-stadtid="@item.ID">@item.Name</a></td>
            <td>@item.AttractionCount</td>
            <td>@item.ScoreAverage</td>
        </tr>
    }
</table>