﻿@model IEnumerable<Attraktion>
@{
    ViewData["Title"] = "GetAttractions";
}

<h1>GetAttractions</h1>

@if (Model != null)
{


<table>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Name</td>
        <td>@item.Anschrift</td>
        <td>@item.Bewertung</td>
        <td>@item.Url</td>
    </tr>
    }

</table>
}