﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>Städtereisen Startseite</h1>

<a asp-action="GetTopTenCities" asp-controller="Home" data-ajax="true" data-ajax-update="#results">Top 10</a>

<a asp-action="NachBundesland" asp-controller="Home">Nach Bundesland</a>

<a asp-action="SearchForCity" asp-controller="Home">Search for City</a>

<br />

<div id="results"></div>