﻿@model  IEnumerable<Bundesland>
@{
    ViewData["Title"] = "NachBundesland";
}

<h1>NachBundesland</h1>

<form asp-action="ShowCitiesForState" asp-controller="Home" data-ajax="true" data-ajax-update="#results">

<select asp-items="@ViewData["selectlist"] as SelectList" name="stateid"></select>
    <input type="submit" value="DRÜCK!!!!"/>
</form>

<div id="results"></div>