﻿@model IEnumerable<string>
@{
    ViewData["Title"] = "SearchForCity";
}

<h1>SearchForCity</h1>

<form asp-action="ShowCitiesForSearch" asp-controller="Home" data-ajax="true" data-ajax-update="#results">
    <input type="text" name="inputText" />
    <input type="submit" />
</form>

<p>Letzte 5 Suchen:</p>
@if (Model != null)
{
    <table>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item</td>
        </tr>
    }
        </table>
}
<br />
<br />
<p>Suchergebnisse:</p>
<div id="results"></div>




