﻿@model DI_Contacts.Models.Contact

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    @using (Html.BeginForm())
    {
        @Html.EditorForModel()
        <input type="submit" value="DRÜCK!" />

    }

</div>



