﻿@model IEnumerable<DI_Contacts.Models.Contact>

@{
    ViewData["Title"] = "ShowAll";
}

<h1>ShowAll</h1>

@if (Model != null)
{

    <table>
        
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Vorname</td>
            <td>@item.Nachname</td>
            <td>@item.Telefon</td>
            <td>@item.EMail</td>
        </tr>
        }
    </table>


}