﻿@{
    ViewData["Title"] = "Home Page";
}
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/chat.js"></script>

<div class="text-center">
    <h1 class="display-4">SignalR Chat</h1>

</div>

<p><label id="chatuserActual">Chatuser of this instance: </label></p>

<div>

    <input type="text" id="messagetext" />

    <input type="button" id="messagebutton" value="Send message" />

</div>
<br />
<div class="d-inline-flex">

<textarea id="allmessages" rows="20" cols="50"></textarea>
</div>
<div class="d-inline-flex">
    
    <div id="allUserDiv">
        <a href="#" onclick="clearSelected();">clear</a>
        <br />
        <select id="allChatUsers" size="21" width="100"></select>

    </div>
</div>

