﻿@model ISBN_Validierung.Models.Book

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    @using (Html.BeginForm())
    {
    <div>
        @Html.LabelFor(x => x.BookTitle)
        @Html.EditorFor(x => x.BookTitle)
        @Html.ValidationMessageFor(x => x.BookTitle)
        <br />

        @Html.LabelFor(x => x.ISBN)
        @Html.EditorFor(x => x.ISBN)
        @Html.ValidationMessageFor(x => x.ISBN)
        <br />
        <input type="submit" />
    </div>
    }


</div>
