﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form asp-controller="Home" asp-action="SearchCountriesResult" data-ajax="true" data-ajax-update="#countryresults">

    <select name="continent" asp-items="@ViewData["Continent"] as SelectList">
        <option>CHOOSE A CONTINENT</option>
    </select>


    <input type="submit" value="DRÜCK!!">
</form>

<br />

    <div id="countryresults"></div>

