﻿@model List<Country>

<cache vary-by="@ViewBag.Continent" expires-after="@TimeSpan.FromSeconds(10)">
    <p>@DateTime.Now</p>

    @if (Model != null)
{
    <table class="table-bordered table-hover table-dark table-striped">
        <tr>
            <td>Land</td>
            <td>Hauptstadt</td>
            <td>Bevölkerung</td>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CountryName</td>
                <td>@item.Capital</td>
                <td>@item.Population</td>
                
            </tr>
        }

    </table>
}
</cache>