﻿@model IEnumerable<Identity_ITSurvey.Models.SurveyQuestion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuestionText)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionText)
                </td>
                <td>
                    <a asp-action="Vote" asp-route-id="@item.ID">Abstimmen</a> |
                    <a asp-action="ShowResult" asp-route-id="@item.ID">Ergebnisse</a>
                </td>
            </tr>
        }
    </tbody>
</table>
