﻿@model SurveyQuestion
@{
    ViewData["Title"] = "Ergebnisse";
}

<div class="jumbotron">
    <h3>Auswertung für : @Model.QuestionText</h3>
</div>

<table class="table table-bordered">
    <tr>
        <th class="text-center">
            Antwort
        </th>
        <th class="text-center">
            Prozent
        </th>
    </tr>

    @foreach (var item in Model.AnswerOptions)
    {
        <tr>
            <td>@item.OptionText</td>
            <td class="text-right">
                @string.Format("{0:00.00} %", item.Votes == 0 ? 0 : (@item.Votes / (double)ViewBag.SumOfAllVotes) * 100)
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Zurück zur Übersicht", "Index")
</p>