﻿@model SurveyQuestion
@{
    ViewData["Title"] = "Abstimmen";
}

<div class="jumbotron">
    <h2>@Model.QuestionText</h2>
</div>

@if (ViewBag.Error != null)
{
    <header>
        <p class="text-danger">@ViewBag.Error</p>
    </header>
}

<fieldset>
    <legend>Wählen Sie eine Antwort: </legend>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(x => Model.ID)
        foreach (var answer in Model.AnswerOptions)
        {
            <input type="radio" name="answerId" value="@answer.ID" id="@answer.ID" />
            <label for="@answer.ID">@answer.OptionText</label>
            <br />
        }
        <hr />
        <input type="submit" class="form-control" />
    }
</fieldset>
