﻿@{
    ViewData["Title"] = "Home Page";
}


    <label for="pwlength">Passwortlänge:</label>
    <input type="number" name="pwlength" id="pwlengthid"/>
    <br />
    <label for="biglength">Anzahl Großbuchstaben:</label>
    <input type="number" name="biglength" id="biglengthid"/>
    <br />
    <label for="numberlength">Anzahl Ziffern:</label>
    <input type="number" name="numberlength" id="numberlengthid" />
    <br />
    <label for="speciallength">Anzahl Sonderzeichen:</label>
    <input type="number" name="speciallength"  id="speciallengthid" />
    <br />
    <input type="button" id="submitbutton" value="DRÜCK!"/> <br />

    <div>Dein Passwort ist: @ViewBag.FinalPasswordFinal</div>
