﻿@model IEnumerable<Identity_ToDoList.Models.Assignment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a> | <a asp-action="ShowOpen">Show Open</a> | <a asp-action="ShowClosed">Show Closed</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompletionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Finished)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompletionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Finished)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AssignmentID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AssignmentID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AssignmentID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
