﻿@model Circle
@{
    ViewData["Title"] = "CircleView";
}

<h1>CircleView</h1>
<form method="post">
    <div><input type="text" name="inputValue" /></div>


    <div>
        @Html.LabelFor(m => m.DiameterOrRadius, "Durchmesser")
        @Html.RadioButtonFor(m => m.DiameterOrRadius, "Durchmesser")
    </div>

    <div>
        @Html.LabelFor(m => m.DiameterOrRadius, "Radius")
        @Html.RadioButtonFor(m => m.DiameterOrRadius, "Radius")
    </div>
    <input type="submit" value="PRESS" />

</form>


@if (Model != null)
{
    <div>@Model.Area</div>
    <div>@Model.Perimeter</div>

}
