﻿@model Rectangle
@{
    ViewData["Title"] = "RectangleView";
}

<h1>RectangleView</h1>

<form asp-action="CalculateRectangle" asp-controller="Home" method="post">

    <input type="text" name="height" />
    <br />
    <input type="text" name="width" />
    <br />
    <input type="submit" value="PRESS" />
    <br />

</form>

@if (Model != null)
{
    <div>@Model.Area</div>
    <div>@Model.Perimeter</div>

}
