﻿@model Book
@{
    //ViewData["Title"] = "ISBN";
}

<br />

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(book => book.Title)
        @Html.EditorFor(book => book.Title)
        @Html.ValidationMessageFor(x => x.Title)
        <br />

        <p>Beispiel für 13er ISBN: 9783866801929</p>
        <p>Beispiel für 10er ISBN: 3866801920</p>

        @Html.LabelFor(x => x.ISBN)
        @Html.EditorFor(x => x.ISBN)
        @Html.ValidationMessageFor(x => x.ISBN)
        <br />
        <input type="submit" />
    </div>
}
